header {
  background: linear-gradient(135deg, #b9c4cf, #2b4d68);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .menu-icon {
    display: flex;
  }

  .nav {
    display: none;
    width: 100%;
    background: linear-gradient(135deg, #78a4d9, #3b8ccd);
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }

  .nav.open {
    display: flex;
  }
}
